<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delta.smt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--更新所需权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- autolayout meta
                 将设计图的宽高配置后,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果
                 -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- welcome activity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--login activity-->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />

        <!--main activity-->
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />

        <!-- 生产中预警-->
        <activity
            android:name=".ui.fault_processing.produce_line.ProduceLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fault_processing.processing.FalutProcessingActivity"
            android:screenOrientation="portrait" />
        <!--StorageWarningActivity  -->
        <activity
            android:name=".ui.storage_manger.StorageWarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.storage_manger.details.StorageDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mantissa_warehouse.ready.MantissaWarehouseReadyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mantissa_warehouse.detail.MantissaWarehouseDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mantissa_warehouse.return_putstorage.MantissaWarehouseReturnAndPutStorageActivity"
            android:screenOrientation="portrait" />


        <!--production warning activity-->
        <activity
            android:name=".ui.production_warning.mvp.produce_line.ProduceLineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.production_warning.mvp.produce_warning.ProduceWarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.hand_add.mvp.HandAddActivity"
            android:screenOrientation="portrait" />
        <!--lin-->
        <activity
            android:name=".ui.store.StoreIssueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storeroom.StoreRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.checkstock.CheckStockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.WarningListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.feeder.wareSelect.WareSelectActivity"
            android:label="@string/title_activity_feeder_cache_region"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.warningSample.WarningSampleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".service.WarningService" />

        <activity android:name=".ui.feeder.warning.FeederWarningActivity"></activity>

        <activity
            android:name=".ui.feeder.handle.feederCheckIn.FeederCheckInActivity"
            android:label="FeederCheckInActivity" />

        <activity
            android:name=".ui.feeder.handle.feederSupply.FeederSupplyActivity"
            android:label="feederSupplyActivity" />

        <!--shufeng.wu downloadservice-->
        <service android:name=".ui.main.update.DownloadService" />

        <!--shufen.wu FileProvider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="delta.smart_smt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.smt_module.module_up.ModuleUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.smt_module.module_down.ModuleDownActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.smt_module.module_up_binding.ModuleUpBindingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.smt_module.virtual_line_binding.VirtualLineBindingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.smt_module.module_down_details.ModuleDownDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"/>

        <!--治工具-->
        <activity android:name=".ui.product_tools.borrow.ProduceToolsBorrowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.product_tools.back.ProduceToolsBackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.product_tools.location.ProduceToolsLocationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.product_tools.borrow.ProduceToolsInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.product_tools.borrow.Produce_mToolsActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>